html.dark .astro-code,
html.dark .astro-code span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    /* Optional, if you also want font styles */
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    min-height: 100vh;
}

main {
    text-align: justify;
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
}

main article {
    line-height: 2;
}

.full-page {
    display: flex;
    flex-direction: column;
    font-family: 'Hack', monospace;
    font-size: small;
    min-height: 99vh;
    width: 100%;
    line-height: 1;
    margin: auto;
    max-width: 50em;
    padding-right: 2em;
    padding-left: 2em;
}

header {
    padding: 4em 0em 2em 0em;
}

nav {
    display: flex;
    justify-content: left;
    max-width: 50em;
    flex-wrap: wrap;
}

a {
    text-decoration: underline;
    color: inherit;
}

.nav-link {
    padding-right: 1.5em;
}

a:hover {
    font-weight: bold;
}

a:visited {
    color: inherit;
}

footer {
    text-align: center;
    padding: 1rem;
}

.custom-title {
    text-align: left;
    font-size: 1em;
    font-weight: 600;
    padding-bottom: 20px;
}

:has(#theme-toggle:checked) body {
    background-color: #121212;
    color: #e0e0e0;
}
